@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Karla';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #ffffff;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 20px 10px;
  background-color: #0c0c0c;
}

.movie {
  margin-bottom: 50px;
}

.movie__title {
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    display: none;
  }
}

.movie__content {
  display: block;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 300px;
  }

  @media (min-width: 992px) {
    height: 400px;
  }
}

.movie__poster {
  display: none;
  object-fit: cover;

  @media (min-width: 768px) {
    display: block;
    width: 200px;
  }

  @media (min-width: 992px) {
    width: 300px;
  }
}

.movie__trailer {
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}
